body {
    background-color: white;
}

#container {
    display: grid;
    height: 100vh;
    grid-template-areas: 'nv nv nv nv' 'hd hd hd hd' 'mn mn mn mn' 'ft ft ft ft'; 
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

nav {
    grid-area: nv;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10vh;
    background-color: rgb(57, 78, 104);
    font-family: sans-serif;
}

nav>h1>a {
    text-decoration: none;
    color: white;
}

.navLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 0px;
    height: 99vh;
    top: -90vh;
    background-color: rgb(57, 78, 104);
    align-items: center;
    width: 20%;
    transition: all 1s;
}

.navActive {
    transform: translateY(100vh);
}

.navLinks li {
    list-style: none;
}

.navLinks a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
}

.kt div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    border-radius: 10%;
    transition: all 0.3s;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

header {
    grid-area: hd;
}

main {
    grid-area: mn;
}


footer {
    grid-area: ft;
    background-color: rgb(233, 230, 230);
}

.mobile {
    display: none;
}

/* Storlek för olika enheter */

@media screen and (max-width: 600px) {
    .desktop {
        display: none;
    }
    
    .mobile {
        display: flex;
    }
}


/*
.row {
    display: flex;
    flex-wrap: wrap;
  }

  .column {
    flex: 25%;
    padding: 20px;
  }

  @media screen and (max-width: 992px) {
    .column {
      flex: 50%;
    }
  }

  @media screen and (max-width: 600px) {
    .row {
      flex-direction: column;
    }
  }
  */