* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: lightsteelblue;
    font-family: sans-serif;
}

.navLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 0px;
    height: 99vh;
    top: -90vh;
    background-color: lightsteelblue;
    align-items: center;
    width: 20%;
}

.navLinks li {
list-style: none;
}

.navLinks a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
}


.kt div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    border-radius: 10%;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}